@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 메인 색상 */
  --color-black: #000;
  --color-white: #fff;

  /* 빨강 계열 */
  --color-red1: #c1121f;
  --color-red2: #ff4848;

  /* 파랑 계열 */
  --color-blue1: #0062ff;
  --color-blue2: #605dec;

  /* 회색 계열 */
  --color-gray1: #3d3d3d;
  --color-gray2: #8f8f8f;
  --color-gray3: #c3c3c3;
  --color-gray4: #cfced3;
  --color-gray5: #f3f3f3;

  /* 핑크 계열 */
  --color-pink1: #ff837a;
  --color-pink2: #fa9ba3;
  --color-pink3: #f3c5bb;
  --color-pink4: #fae9e6;

  /* 브라운 계열 */
  --color-brown1: #8b6459;
  --color-brown2: #9f8982;
  --color-brown3: #cdbab4;
  --color-brown4: #eae2df;
}

/* 전역 레이아웃용 wrapper 클래스 */
.app-container {
  max-width: 39rem; /* 약 624px */
  height: 100%;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-white);
  color: var(--color-gray1);
  font-size: 1rem;
  line-height: 1.3rem;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

html {
  height: 100%;
  background-color: var(--color-pink4);
  box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  height: 100%;
  font-family: var(--font-freesentation), sans-serif;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a,
button {
  cursor: pointer;
}

/* 디버깅용  */
/* * {
  outline: 1px solid red;
} */
